$color-dark: #262526;
$color-dark-secondary: #404040;
$color-light: #F2F2F2;
$color-light-secondary: #8C8979;
$color-red: #F60A20;
$color-green: #79BD8F;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
