.trendArrow {
  display: inline-block;
  line-height: 20px;
  font-weight: 300;

  .arrow {
    font-size: 20px;
  }

  &.rising {
    .arrow {
      color: $color-green;
    }
  }

  &.falling {
    .arrow {
      color: $color-red;
    }
  }

  .change {
    font-size: 14px;
    vertical-align: middle;
  }
}
